* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: darkgrey;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  margin: 0;
}


.main-view1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.text1 {
  width: 50%;
  border-radius: 15px;
  background-color: gray;
  padding: 20px;
  text-align: center;
  margin: 20px;

}

.text1 p {
  padding: 10px;
}

.text1 p a {
  text-decoration: none;
  color: white;
}

.text1 p a:hover {
  border-bottom: solid 1px white;
}

.icons img {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.img-box {
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: gray;
  padding: 20px
}

.img-box img {
  width: 200px;
  height: 400px;
  overflow: hidden;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .main-view {
    flex-direction: column;
  }

  .text1 {
    width: 80%;
  }
}