
.mainView {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
}

/* recent links to blog entries/photos */

.linksContainer {
  /* display: block; */
  width: auto;
  border-radius: 15px;
  background-color: gray;
  padding: 20px
}

.linksContainer h2 {
  text-align: center;
  padding: 10px;
}


.recentEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}


.container .mainView .linksContainer .recentPosts .recentEntry .recentEntryDate {
  display: inline;

}

ul li a {
  /* text-decoration: none; */
  text-decoration: none;
  color: white;
}

ul li a:hover {
  border-bottom: solid 1px white;
}

.recentEntryName {
  max-width: 50vw;
}

.recentEntryDate {
  padding-left: 15px;
}

/* blog photo gallery flexbox */

.photoContainer {
  width: auto;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: flex;
      display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
}

.photoContainer .box {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;

}

.photoContainer .box .imgBox {
  position: relative;
  /* overflow: hidden; */
}

.photoContainer .box .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  transition: 1s;
  opacity: 0;
  height: 254px;
  width: 346px;
}

.photoContainer .box .details .content {
  position: absolute;
  /* for centering the text */
  /* top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;   */
}

.photoContainer .box:hover .details {
  opacity: 1;
}


/* Media queries */

@media only screen and (max-width: 600px) {
  .photoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}