* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: darkgrey;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
}

.mainView1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    padding-top: 50px;
}


.formBoxTop {

  border-radius: 15px;
  padding: 20px;
  background-color: gray;
}

.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}

.formHeading {
  text-align: center;
  font-size: 16pt;
  padding-bottom: 15px;
}

.name {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.email {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.message {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 65px 0px;
}

.inputSubmit {
  padding-top: 15px;
width: 100%;
text-align: center;
}

.submitButton {
  width: 100px;
  height: 30px;
  font-size: 14pt;
}

.input1 {
  width: 100%;
  height: 20px;
}

.label1 {
  width: 50%;
}

.textarea1 {
  height: 150px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


/* Social media grid-box/links */

.sMediaLink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.row1 {
  grid-row: 1 / 2;
}

.row2 {
  grid-row: 2 / 3;
}

.row3 {
  grid-row: 3 / 4;
}

.sMediaLink a:hover {
  opacity: 0.3;
}

