
/* Main viewing area */

.mainView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Main view  */

img {
  width: 100%;
  height: 100%
}

.image {
  width: 50%;
  height: auto;
}

.imageText {
  text-align: left;
  width: 45%;
  height: auto;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.imageAndText {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box {
  border-radius: 15px;
  background-color: gray;
  padding: 20px;
  margin: 20px 10px;
  width: 90%;
  max-width: 1200px;
}

.box a {
  text-decoration: none;
  color: black;
}

.boxHeading {
  padding: 0px 0px 30px 0px;
  width: 50%;
}

.title {
  font-size: 45px;
}

.titleFirstLetter {
  color: lightgoldenrodyellow;
}

.tech {
  width: 100%;
  padding-top: 10px;
  font-size: 14pt;
}

.techColour {
  color: orange;
}

.github:hover {
  background-color: white;
}

.github {
  font-size: 14pt;
}

/* Media queries */

@media all and (min-width: 1500px) {
  .image {
    width: 40%;
    height: auto;
  }

  .imageText {
    text-align: left;
    width: 45%;
    height: auto;
    padding-left: 30px;
  }


  .imageAndText {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}


@media all and (max-width: 1100px) {
  .imageAndText {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .image {
    width: 80%;
    height: 90%;
  }

  .imageText {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }

  .boxHeading {
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .imageAndText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 90%;
  }

  .imageText {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
}
